<div class="bottom_links">
  <div class='wrap'>
    <ul class='footer-link-columns'>
      <li>PetHub</li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact &amp; support</a></li>
      <li><a href="#">PetHub Enterprise</a></li>
      <li><a href="#">Site status</a></li>
    </ul>
    <ul class='footer-link-columns'>
      <li>Applications</li>
      <li><a href="#">PetHub for Mac</a></li>
      <li><a href="#">PetHub for Windows</a></li>
      <li><a href="#">PetHub for Eclipse</a></li>
      <li><a href="#">PetHub mobile apps</a></li>
    </ul>
    <ul class='footer-link-columns'>
      <li>Services</li>
      <li><a href="#">Gauges: Web analytics</a></li>
      <li><a href="#">Speaker Deck: Presentations</a></li>
      <li><a href="#">Gist: Code snippets</a></li>
      <li><a href="#">Job board</a></li>
    </ul>
    <ul class='footer-link-columns'>
      <li>Documentation</li>
      <li><a href="#">PetHub Help</a></li>
      <li><a href="#">Developer API</a></li>
      <li><a href="#">PetHub Flavored Markdown</a></li>
      <li><a href="#">PetHub Pages</a></li>
    </ul>
    <ul class='footer-link-columns'>
      <li>More</li>
      <li><a href="#">Training</a></li>
      <li><a href="#">Students &amp; teachers</a></li>
      <li><a href="#">The Shop</a></li>
      <li><a href="#">Plans &amp; pricing</a></li>
      <li><a href="#">THe OCtodex</a></li>
    </ul>
  </div>
</div>
<div class='wrap'>
  <ul>
    <li class="tos"><a href="#">Terms of Service</a></li>
    <li class="tos"><a href="#">Privacy</a></li>
    <li class="tos"><a href="#">Security</a></li>
  </ul>
  <p class="copyright">&copy; 2013 PetHub, Inc. All rights reserved.</p>
</div>
