<div>
  <h1 class="logo">PetHub</h1>
  <nav>
    <a class="nav_item" href="#">Explore PetHub</a>
    <a class="nav_item" href="#">Search</a>
    <a class="nav_item" href="#">Features</a>
    <a class="nav_item" href="#">Blog</a>
    <a class="nav_item nav_item_button" href="/login">Sign in</a>
  </nav>
</div>
<div class="line_separator"></div>
<hr>