ul
  display: inline-block
  font-size: .5em
  float: left

.bottom_links
  display: block
  overflow: auto
  border-top: 1px solid grey
  padding: 1em 0em

ul a
  text-decoration: none

li
  padding: 0em 1em

.tos
  display: inline


footer p
  font-size: 0.5em
  float: right