.top_tag
  padding-bottom: 2px
  border-bottom: 2px solid grey

.logo
  padding: 0.5em 2em
  display: inline-block

nav
  display: inline-block
  position: absolute
  right: 0px
  padding: 0.5em 2em

nav a
  text-decoration: none
  color: black

nav a:hover
  color: blue

.nav_item
  padding: 0em .5em
  font-size: .6em

.nav_item_button
  padding: 0.5em
  border: 0.1em solid grey
  background-color: lightgrey
  color: black

