.main_section
  border-bottom: 1px solid grey

.tagline
  display: inline-block
  width: 50%
  border: 1px solid black

.tagline_description
  display: inline-block
  width: 50%
  border: 1px solid black

div form
  display: inline-block
  width: 20%
  border: 1px solid black

form p
  font-size: 0.4em
  padding: 1em 1em 0.5em 1em

form a
  font-size: 0.4em

.bot_box_left
  border: 1px solid black
  font-size: 0.5em

.bot_box_mid
  border: 1px solid black
  font-size: 0.5em

.bot_box_right
  border: 1px solid black
  font-size: 0.5em

div h3
  border: 1px solid black
