@import compass/css3

.sign_in_box
  font-weight: bold
  margin: 3em auto 4em auto
  width: 28%
  border: 1px solid grey
  +border-radius(5px)

div h4
  color: rgb(217, 221, 231)
  padding: 0.5em 4em 0.5em 0.8em
  border-bottom: 1px solid black
  background-color: rgb(156, 172, 213)
  font-size: 1.3em

div label
  font-size: 0.9em
  display: block
  padding: 1em 0em 0.8em 1em

label a
  text-decoration: none

div input
  display: block
  width: 90%
  margin: 1em auto

div button
  display: block
  margin: 1em