.wrap
  %nav.topbar
    %a.topbarlink News Feed
    %a.topbarlink Pull Requests
    %a.topbarlink Issues
    %a.topbarlink Stars

  %ul.updates
    %li
      %a.account_link{:href => "#"} atseng
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 5 days ago
    %li
      %a.account_link{:href => "#"} gpallotta
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 6 days ago
    %li
      %a.account_link{:href => "#"} brettshollenberger
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 9 days ago
    %li
      %a.account_link{:href => "#"} chronophasiac
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 9 days ago
    %li
      %a.account_link{:href => "#"} linstula
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 9 days ago
    %li
      %a.account_link{:href => "#"} mattThousand
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 9 days ago
    %li
      %a.account_link{:href => "#"} davepoirier
      started following
      %a.account_link{:href => "#"} jsungholee
      %span.daysago 9 days ago

  .repositories
    %h2.your_repositories
      Your repositories
      %span.daysago (3)
    %a.new_repository New repository
    .all_repo_wrap
      %input.find_a_repository{:value => "Find a Repository..."}
      %a.all_repositories All Repositories
      %nav.nav_git
        %a.nav_git_link Public
        %a.nav_git_link Private
        %a.nav_git_link Sources
        %a.nav_git_link Forks
    %nav.user_repositories
      %a.user_repositories_link jsungholee/bracketeers
      %a.user_repositories_link jsungholee/Programming-Practice
      %a.user_repositories_link jsungholee/try_git