<div class="sign_in_box">
  <div>
    <h4>Sign In</h4>
  </div>
  <div class="user_info">
    <label>Username or Email</label>
    <input></input>
    <label>Password <a href="#">(forgot password)</a></label>
    <input></input>
    <button>Sign in</button>
  </div>
</div>