<header>
  <h1>PetHub</h1>
  <nav>
    <a href="#">Explore PetHub</a>
    <a href="#">Search</a>
    <a href="#">Features</a>
    <a href="#">Blog</a>
    <a href="#">Sign up for free</a>
    <a href="#">Sing in</a>
  </nav>
</header>