.background_wrap
  .main_section.wrap
    .box_left
      %h1.tagline Build Petware better, together.
      %p.tagline_description Powerful collaboration, review, and code   management for open source and private development projects.
    %form.box_right
      %input{:value => "Pick a username"}
      %input{:value => "Your email"}
      %input{:value => "Create a password"}
      %p.tip Tip: use at least one number and at least 7 characters.
      %p.agreement
        By clicking on "sign up for free" below, you agree to   the
        %span
          %a.text_links{:href => "#"} Terms of Service
        and   the
        %span
          %a.text_links{:href => "#"} Terms of Service
      %button.sign_up Sign up for free
      %a.plans_pricing{:href => "#"} See plans and pricing
.bot_box
  .wrap
    .bot_box_wrap
      .bot_box_left
        %img{:alt => "pic", :src => "http://placedog.com/276/100"}
        %h3.h3_size Great collaboration starts with communication
        %p Review changes, comment on lines of code, report issues, and plan the   future of your project with flexible discussion tools
      .bot_box_mid
        %img{:src => "http://placekitten.com/276/100"}
        %h3.h3_size Manage and contribute from all your devices.
        %p Native clients for Mac, Windows, and mobile devices allow you to stay   involved with your projects from anywhere.
      .bot_box_right
        %img{:src => "http://placedog.com/276/100"}
        %h3.h3_size The world’s largest open source community.
        %p Share your code with the world and contribute to the millions of   public repositories hosted on GitHub.
    %br
    .collab_statement
      %h3 Collaborate on private repositories when you sign up for a paid individual or organization plan.