<div class="main_section">
  <div class="box_left">
    <h1 class="tagline">Build Software better, together.</h1>
    <p class="tagline_description">Powerful collaboration, review, and code management for open source and private development projects.</p>
  </div>


  <form>
    <input value="Pick a username"></input>
    <input value="Your email"></input>
    <input value="Create a password"></input>
    <p class="tip">Tip: use at least one number and at least 7 characters.</p>
    <p class="agreement">By clicking on "sign up for free" below, you agree to the <span><a class="text_links" href="#">Terms of Service</a></span> and the <span><a class="text_link" href="#">Terms of Service</a></span></p>
    <button>Sign up for free</button>
    <a href="#" class="text_links">See plans and pricing</a>
  </form>
</div>

<div class="bot_box">
  <div class="bot_box_left">
    <img src="#" alt="pic" />
    <h3>Great collaboration starts with communication</h3>
    <p>Review changes, comment on lines of code, report issues, and plan the future of your project with flexible discussion tools</p>
  </div>
  <div class="bot_box_mid">
    <img src="#" />
    <h3>Manage and contribute from all your devices.</h3>
    <p>Native clients for Mac, Windows, and mobile devices allow you to stay involved with your projects from anywhere.</p>
  </div>
  <div class="bot_box_right">
    <img src="#" />
    <h3>The world’s largest open source community.</h3>
    <p>Share your code with the world and contribute to the millions of public repositories hosted on GitHub.</p>
  </div>
  <div>
    <h3>Collaborate on private repositories when you sign up for a paid individual or organization plan.</h3>
  </div>
</div>

